.score {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    border-radius: 5px;
    padding: 10px;
    position: relative;

    h2 {
        font-size: 0.938rem;
        font-weight: 500;
        color: #000;
        align-self: flex-start;
        margin: 20px 0;
    }



}

.score>div>.recharts-wrapper {
    width: 100% !important;

}

.score>div>.recharts-wrapper>.recharts-surface {
    max-width: 100%;
}