.header {
    width: 100%;
    max-width: 2100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020203;
    height: 90px;
    padding: 10px 80px 10px 20px;
    z-index: 6;
    -webkit-box-shadow: 11px 4px 7px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 11px 4px 7px 5px rgba(0, 0, 0, 0.4);
    position: relative;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-image1,
.logo-image2 {
    margin-right: 10px;
}

.navigation {
    flex: 3;
}

.nav {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.nav-item {
    cursor: pointer;
}