.header {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020203;
    height: 8vh;
    padding: 0 80px 0 20px;
    z-index: 2;
    box-shadow: 0px 5px 5px 0px rgba(123, 119, 119, 0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(123, 119, 119, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(123, 119, 119, 0.75);
}

.logo {

    flex: 1;
    display: flex;
    align-items: center;

}

.logo-image1,
.logo-image2 {
    margin-right: 10px;
}

.navigation {
    flex: 3;
}

.nav {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}