.sideMenu {
    width: 117px;
    background-color: #020203;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.sideMenu-header {
    margin-top: 15vh;
    z-index: 1;
    position: relative;
}

.sideMenu-button {
    width: 64px;
    height: 64px;
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover img {
        transform: scale(1.1);
    }
}

.sideMenu-copyright {
    position: absolute;
    bottom: 20px;
    left: -20px;
    flex: 0;
    width: 140px;
    -moz-transform: rotate(270deg) translate(80px, 0px);
    -webkit-transform: rotate(270deg) translate(80px, 0px);
    -o-transform: rotate(270deg) translate(80px, 0px);
    -ms-transform: rotate(270deg) translate(80px, 0px);
    transform: rotate(270deg) translate(80px, 0px);
    font-size: 0.75rem;
}