* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    max-width: 2000px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}