* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    margin: 0 auto;
}

.root {
    max-width: 2500px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}