.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    width: 100%;
    margin-left: 127px;

    .body-404 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FF0101;
    }

    h1 {
        font-size: 20rem;
    }

    p {
        margin-top: 15px;
        font-size: 2rem;
    }

    a {
        margin-top: 80px;
        font-size: 1.5rem;
        color: #FF0101;
        padding: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}